<p>footer works!</p>
<footer class="navbar navbar-dark bg-dark mt-5">
    <div class="container-fluid">
      <span class="navbar-text">
        © 2025 Mi Empresa. Todos los derechos reservados.
      </span>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Privacidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Términos de uso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </footer>